.sectiontwo-container {
  width: 100vw;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  bottom: 3.3rem;
}
.sectiontwo-freeshipping {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.freeshipping-logo {
  width: 5rem;
  height: 4rem;
  border: 3px solid #ffac01;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8rem;
  background: #ffffff;
}
.freeshipping-logo > i {
  font-weight: 700;
  font-size: 35px;
}
.freeshipping-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sectiontwo-freereturn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.freereturn-logo {
  width: 5rem;
  height: 4rem;
  border: 3px solid #ffac01;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8rem;
  background: #ffffff;
}
.freereturn-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sectiontwo-payment {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.payment-logo {
  width: 5rem;
  height: 4rem;
  border: 3px solid #ffac01;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8rem;
  background: #ffffff;
}
.payment-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sectiontwo-support {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.support-logo {
  width: 5rem;
  height: 4rem;
  border: 3px solid #ffac01;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8rem;
  background: #ffffff;
}
.support-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
