.nav-container {
  height: 5.3rem;
  width: 100vw;
  padding: 0rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 8px 20px rgb(116, 114, 114);
}
.nav-logo {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #00c9c4;
}
.nav-search-box {
  display: flex;
  align-items: center;
}
.nav-search-box input {
  width: 32rem;
  height: 2.2rem;
  border-radius: 2rem;
  border: 2px solid #ff4c11;
  outline: none;
}
.nav-search-box input::placeholder {
  padding-left: 1.2em;
  color: #d1d1d1;
}
.nav-search-symbol {
  width: 3rem;
  height: 2.2rem;
  position: relative;
  background-color: #ff4c11;
  color: white;
  right: 3rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.nav-search-symbol > i {
  font-size: 1.3em;
  position: relative;
  top: 0.3em;
  left: 0.4em;
}
.nav-buttons {
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
